* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Roboto;
    font-style: Black;
}

.to-do-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;   
    width: 336px;
    min-height: 236px;
    overflow: hidden;
    margin-left: 408px;
    margin-top: 232px;
}

.top {
    background-color: #FFDC40;
    width: auto;
    height: 28px;
    margin-bottom: 10px;
}

h1 {
    font-size: 26px;
    line-height: 30px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.sort-but {
    display: block;
    align-self: flex-end;
    margin-right: 30px;
    margin-bottom: 12px;
    width: 25px;
    height: 15px;
    background: none;
}

.list {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 286px;
    min-height: 56px;
    margin-left: 28px;
    margin-bottom: 18px;
}

.do {
    min-width: 229px;
    min-height: 36px;
    text-align: left;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 10px 27px;

}

.del-but {
    width: 20px;
    border-radius: 10px;
}

.add-but {
   width: 150px; 
   height: 42px;
   border-radius: 21px;
   margin-left: 92px;
   margin-bottom: 19px;
}
